<!DOCTYPE HTML>
<html lang="en">

<%- include('./partials/head/head.ejs') %>

    <body>

        <%- include('./partials/aside/aside.ejs') %>

            <main class="main-wrap">

                <%- include('./partials/header/header.ejs') %>
                    <section class="content-main">
                        <form action="/admin/add-new-products" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-9">
                                    <div class="content-header">
                                        <h2 class="content-title">Add New Product</h2>
                                        <div>
                                            <button type="submit"
                                                class="btn btn-md rounded font-sm hover-up">Confirm</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Basic</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Product Name</label>
                                                <input type="text" placeholder="Type here" name="product_name"
                                                    class="form-control" id="product_name">
                                            </div>
                                            <div class="mb-4">
                                                <label for="product_category" class="form-label">Product Category</label>
                                                <input type="text" placeholder="Type here" name="product_category"
                                                    class="form-control" id="product_name">
                                            </div>
                                            <div class="mb-4">
                                                <label for="product_stock" class="form-label">Product Stock</label>
                                                <input type="text" placeholder="Type here" name="product_stock"
                                                    class="form-control" id="product_name">
                                            </div>
                                            <div class="mb-4">
                                                <label class="form-label">Full description</label>
                                                <textarea placeholder="Type here" class="form-control"
                                                    name="product_description" rows="4"></textarea>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="mb-4">
                                                        <label class="form-label">Regular price</label>
                                                        <div class="row gx-2">
                                                            <input placeholder="$" type="text" name="product_price"
                                                                class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-4">
                                                        <label class="form-label">Promotional price</label>
                                                        <input placeholder="$" type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="form-label">Currency</label>
                                                    <select class="form-select">
                                                        <option> USD </option>
                                                        <option> EUR </option>
                                                        <option> RUBL </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- card end// -->
                                    <!-- <div class="card mb-4">
                                    <div class="card-header">
                                        <h4>Shipping</h4>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-4">
                                                        <label for="product_name" class="form-label">Width</label>
                                                        <input type="text" placeholder="inch" class="form-control"
                                                            id="product_name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="mb-4">
                                                        <label for="product_name" class="form-label">Height</label>
                                                        <input type="text" placeholder="inch" class="form-control"
                                                            id="product_name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Weight</label>
                                                <input type="text" placeholder="gam" class="form-control"
                                                    id="product_name">
                                            </div>
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Shipping fees</label>
                                                <input type="text" placeholder="$" class="form-control"
                                                    id="product_name">
                                            </div>
                                        </form>
                                    </div>
                                </div> card end// -->
                                </div>
                                <div class="col-lg-3">
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Product Image</h4>
                                        </div>

                                        <div class="card-body">
                                            <div class="input-upload">
                                                <input type="file" name="product-image" class="form-control" id="">
                                            </div>
                                        </div>

                                    </div> <!-- card end// -->
                                    <!-- <div class="card mb-4">
                                    <div class="card-header">
                                        <h4>Organization</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row gx-2">
                                            <div class="col-sm-6 mb-3">
                                                <label class="form-label">Category</label>
                                                <select class="form-select">
                                                    <option> Automobiles </option>
                                                    <option> Home items </option>
                                                    <option> Electronics </option>
                                                    <option> Smartphones </option>
                                                    <option> Sport items </option>
                                                    <option> Baby and Tous </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6 mb-3">
                                                <label class="form-label">Sub-category</label>
                                                <select class="form-select">
                                                    <option> Nissan </option>
                                                    <option> Honda </option>
                                                    <option> Mercedes </option>
                                                    <option> Chevrolet </option>
                                                </select>
                                            </div>
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Tags</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        z

                                    </div>
                                </div>  -->
                                    <!-- card end// -->
                                </div>
                            </div>
                        </form>
                    </section> <!-- content-main end// -->
                    <%- include('./partials/footer/footer.ejs') %>

    </body>


</html>