<!DOCTYPE html>
<html lang="en">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    /* Custom CSS for styling */
    .empty-cart {
        margin-top: 50px;
        text-align: center;
    }

    .empty-cart h2 {
        color: #333;
    }

    .empty-cart a {
        color: #007bff;
        text-decoration: none;
    }

    .empty-cart a:hover {
        text-decoration: underline;
    }
</style>

<%- include ('../partials/head/head.ejs' ) %>

    <body>

        <%- include('../partials/header/header.ejs') %>

            <!-- breadcrumb-section -->
            <div class="breadcrumb-section breadcrumb-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2 text-center">
                            <div class="breadcrumb-text">
                                <p>Fresh and Organic</p>
                                <h1>Cart</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end breadcrumb section -->

            <!-- cart -->
            <!-- Bootstrap CSS -->



            <div class="container">
                <div class="empty-cart">
                    <h2>Your cart is empty</h2>
                    <p>Continue shopping <a href="#">here</a>.</p>
                </div>
            </div>


            <!-- end cart -->


            <%- include('../partials/footer/footer.ejs') %>


    </body>

</html>