<!DOCTYPE html>
<html>

<%- include('partials/head.ejs') %>
<link href="/cssUser/main.css" rel="stylesheet" type="text/css" />


	<body>

		<div class="wrapper" style="background-image: url('assets/images/redbullPurpleEdition-1.png');">
			<div class="inner">
				<form action="/forgot-password" method="post">
					<h3>ENTER YOUR NEW PASSWORD</h3>
					<div class="form-wrapper">
						<label for="">Password</label>
						<input type="password" name="password" class="form-control">
					</div>
					<div class="form-wrapper">
						<label for="">Confirm Password</label>
						<input type="password" name="" class="form-control">
					</div>
					<button type="submit" class=" w-100">CONFIRM</button>
					<br>
					<h5>Back to<a class="p-2" href="/signin">SIGN IN</a></h5>
				</form>
				
			</div>
		</div>

	</body>

</html>