
	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="/assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->

	//sweetalert2
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	
	<!-- jquery -->
	<script src="/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="/assets/js/main.js"></script>
	<script>
      reload();

      const errMsg = document.getElementById("email_alert");

      function reload() {
        setTimeout(() => {
          errMsg.innerHTML = "";
        }, 4000);
      }

      function validate_input(field) {
        let input = document.getElementById(field).value.trim();
        let isValid =
          input.length > 0 && (field === "email" || !/\d/.test(input)); // Check if input is not empty and doesn't contain digits unless it's the email field
        if (!isValid) {
          document.getElementById(field + "_alert").style.color = "red";
          if (/\d/.test(input) && field !== "email") {
            document.getElementById(field + "_alert").innerHTML =
              "Numbers are not allowed";
          } else {
            document.getElementById(field + "_alert").innerHTML =
              "Please fill this field";
          }
        } else {
          document.getElementById(field + "_alert").innerHTML = "";
        }
      }

      function validate_password() {
        let pass = document.getElementById("pass").value;
        let confirm_pass = document.getElementById("confirm_pass").value;
        if (pass != confirm_pass) {
          document.getElementById("wrong_pass_alert").style.color = "red";
          document.getElementById("wrong_pass_alert").innerHTML =
            "☒ Use same password";
          document.getElementById("create").disabled = true;
          document.getElementById("create").style.opacity = 0.4;
        } else {
          document.getElementById("wrong_pass_alert").style.color = "green";
          document.getElementById("wrong_pass_alert").innerHTML =
            "🗹 Password Matched";
          document.getElementById("create").disabled = false;
          document.getElementById("create").style.opacity = 1;
        }
      }

      function validateForm() {
        let isValid = true;
        ["fullname", "lastname", "email"].forEach(function (field) {
          let input = document.getElementById(field).value.trim();
          if (input.length === 0 || (field !== "email" && /\d/.test(input))) {
            document.getElementById(field + "_alert").style.color = "red";
            if (/\d/.test(input) && field !== "email") {
              document.getElementById(field + "_alert").innerHTML =
                "Numbers are not allowed";
            } else {
              document.getElementById(field + "_alert").innerHTML =
                "Please fill this field";
            }
            isValid = false;
          }
        });

        if (!isValid) {
          return false;
        }

        let pass = document.getElementById("pass").value;
        let confirm_pass = document.getElementById("confirm_pass").value;
        if (pass != confirm_pass) {
          document.getElementById("wrong_pass_alert").style.color = "red";
          document.getElementById("wrong_pass_alert").innerHTML =
            "☒ Use same password";
          document.getElementById("create").disabled = true;
          document.getElementById("create").style.opacity = 0.4;
          return false;
        }

        return true;
      }
 
	</script>
	<!-- <script>

		// function increaseQuantity() {
		// 	var quantityInput = document.getElementById('quantity');
		// 	quantityInput.value = parseInt(quantityInput.value) + 1;
		// }

		// function decreaseQuantity() {
		// 	var quantityInput = document.getElementById('quantity');
		// 	if (parseInt(quantityInput.value) > 1) {
		// 		quantityInput.value = parseInt(quantityInput.value) - 1;
		// 	}
		// }


		async function incrementOrDecrement(index, productId, quantity) {

			if (quantity <= 10) {
				
				 quantityData = document.getElementById('quantity_' + index).value

				const priceText = document.getElementById('price_' + index).innerText

				const price = parseFloat(priceText.replace('Rs ', '').trim());

				const totalPrice = price * quantity

				document.getElementById('totalPrice_' + index).innerText = totalPrice

				await totalPriceUsingFetch(productId, quantity, totalPrice)
			} else {
				
				Swal.fire({
					title: "Alert!",
					text: "Max Limit of this product is Exceeded!",
					icon: "error"
				}).then(()=>{
					location.reload()
				})

			}

		}

		async function totalPriceUsingFetch(productId, quantity, totalPrice) {

			await fetch(`/add-to-cart-totalPrice/?productId=${productId}&quantity=${quantity}&totalPrice=${totalPrice}`, {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json'
				}
			})
				.then(response => {
					if (!response.ok) {
						console.log('some network failure heppen');
					}
					return response.json()
				}).then(data => {
					if (data.id) {
						// window.location.reload() /*reloading the page disabled */
						console.log('data fetched successfully');
					} else {
						console.log('data fetched unssuccessfull');
					}
				}).catch(err => {
					console.log(err, 'some error occured in fetching');
				})
		}

	</script> -->
